<h1 class="agreCandi">Agregado de candidato</h1>

<section class="agregarCandidato">
<div class="formulario-general">
    <form action='@Url.Action("GuardarCandidato", "Home")'>
    <input type="hidden" name="FkPartido" value="@ViewBag.IdPartido">
        <div class="formulario">
            <label> Nombre</label>
            <input autocomplete="off" type="text" name="Nombre" required placeholder="Ingrese nombre">
        </div>

        <div class="formulario">
            <label>Apellido</label>
            <input autocomplete="off" type="text" name="Apellido" required placeholder="Ingrese apellido">
        </div>

        <div class="formulario">
            <label>Fecha Nacimiento</label>
            <input autocomplete="off" type="date" name="FechaNacimiento" required placeholder="Ingrese fecha nacimiento">
        </div>

        <div class="formulario">
            <label>Foto</label>
            <input autocomplete="off" type="text" name="Foto" required placeholder="Ingrese link foto">
        </div>

        <div class="formulario">
            <label>Postulacion Candidato</label>
            <input autocomplete="off" type="text" name="Postulacion" required placeholder="Ingrese postulacion">
        </div>

        <input class="boton" type="submit" value="Cargar">
    </form>
</div>
</section>