<div class="contenido">
<h1>Los creadores de esto fueron Ramiro Sued y Santiago Palma, ambos estudiantes de la secundaria ORT Almagro</h1>
</div>
<section class="nosotros">
<div class="imagenMia">
<img src="/img/yooo.jpg" width="300">
<img src="/img/imagenLosDos.jpg" width="600">
<img src="/img/fotoPalma.jpg" width="400">
</div>
</section>