<div class="elecciones2023">
    <h1>¿Cuándo y dónde voto en las elecciones (P.A.S.O.)?</h1>
    <p>
    Las elecciones Primarias,Abiertas,Simultáneas y Obligatorias se llevarán a cabo el 13 de agosto entre las 8:00 y las
    18:00 horas.
    A partir del 14 de julio, podés verificar el establecimiento de votación, el N.º de mesa donde votás, el N.º de
    orden y el ejemplar del documento con el cual estás inscripto/a para votar, ingresando a www.padron.gob.ar
    Se recomienda que esa información la conserves hasta el día de la elección.
    Recordá que sólo podés votar en el establecimiento y la mesa que te corresponden de acuerdo con el domicilio que
    tenés registrado en tu documento.
    </p>

    <h3>¿Qué se elige en las elecciones Primarias, Abiertas, Simultáneas y Obligatorias (P.A.S.O.)?</h3>
    <p>Las Primarias, Abiertas, Simultáneas y Obligatorias (P.A.S.O.), que se realizarán el 13 de agosto, son elecciones
    nacionales donde la ciudadanía define con su voto la oferta electoral que participará en las elecciones generales.
    </p>

    <h3>En las P.A.S.O se eligen:</h3>

    <p>Las fuerzas políticas que quedan habilitadas a competir en las elecciones generales: aquellas que alcancen el 1,5%
    de los votos válidos emitidos en el distrito para la categoría en disputa, sumadas la totalidad de listas que cada
    fuerza política presente.

    Cuál será la lista definitiva de candidatos/as con la que cada fuerza competirá en las elecciones generales del 22
    de octubre, donde se elegirá el/la próximo/a presidente/a, vicepresidente/a, los/as representantes argentinos/as en
    el Parlasur y la composición parcial de la Cámara de Senadores y Diputados de la Nación.
    </p>

    <h3>¿Las P.A.S.O. son obligatorias para las agrupaciones políticas?</h3>
    <p>Sí. Son obligatorias para las agrupaciones que deseen participar de la elección general, ya que la ley indica que
    para que una agrupación pueda competir en la elección general debe superar el 1,5% de los votos válidos emitidos en
    el distrito.
    </p>

    <h3>¿Cómo se vota en las P.A.S.O.?</h3>
    <p>La diferencia entre las P.A.S.O. y la elección general respecto a cómo se vota se encuentra en que mientras en la
    elección general hay solo una única boleta para cada agrupación, en la P.A.S.O. cada agrupación política puede
    presentar tantas listas para competir por el mismo cargo como desee.
    El 13 de agosto de acuerdo al distrito donde residís y si estás habilitado/a, votarás en las elecciones P.A.S.O para
    cargos nacionales (presidente/a, parlamentarios/as del Mercosur -por distrito nacional y regional-, diputados/as y
    senadores/as nacionales); y en las provincias que tengan ese mismo día primarias para cargos locales. Por lo tanto,
    la cantidad de secciones que tendrán las boletas difiere entre cada distrito en función de lo que se elige en ellos.
    Si se elige más de una categoría, la fuerza política que compite puede presentarse por los cargos nacionales,
    provinciales, locales y/o por todos ellos. Puede suceder que haya agrupaciones políticas que presenten una sola
    lista para un cargo y varias para otro.
    Recordá que si elegís más de una boleta de listas distintas para una misma categoría, el voto se anula.
    </p>
    <h3>¿Puedo votar si voy a estar en otro país en la fecha de las P.A.S.O.?</h3>
    <p>No. Nuestra legislación no prevé el voto en tránsito y sólo se puede votar en la mesa donde estás registrado/a.
    Además, si vivís en el extranjero, hiciste el cambio de domicilio y te encontrás en el Registro de Electores
    Residentes en el Exterior, sólo votas en la elección general, no en las P.A.S.O.
    </p>

    <h3>¿Qué cargos se eligen en las elecciones generales 2023?</h3>
    <ul>
        <li>Presidente/a y vicepresidente/a</li>
        <li>130 diputados/as en todo el país y 24 senadores/as en 8 provincias.</li>
        <li>19 parlamentarios/as del Mercosur por distrito nacional y 24 por distrito regional.</li>
    </ul>
    
    <h5>Buenos Aires</h5>
    3 senadores/as nacionales
    35 diputados/as nacionales
    1 parlamentario/a del Mercosur

    <h5>CABA</h5>
    12 diputados/as nacionales
    1 parlamentario/a del Mercosur

    <h5>Catamarca</h5>
    2 diputados/as nacionales
    1 parlamentario/a del Mercosur

    <h5>Chaco</h5>
    3 diputados/as nacionales
    1 parlamentario/a del Mercosur

    <h5>Chubut</h5>
    3 diputados/as nacionales
    1 parlamentario/a del Mercosur

    <h5>Córdoba</h5>
    9 diputados/as nacionales
    1 parlamentario/a del Mercosur

    <h5>Corrientes</h5>
    4 diputados/as nacionales
    1 parlamentario/a del Mercosur

    <h5>Entre Ríos</h5>
    4 diputados/as nacionales
    1 parlamentario/a del Mercosur

    <h5>Formosa</h5>
    3 senadores/as nacionales
    3 diputados/as nacionales
    1 parlamentario/a del Mercosur

    <h5>Jujuy</h5>
    3 senadores/as nacionales
    3 diputados/as nacionales
    1 parlamentario/a del Mercosur

    <h5>La Pampa</h5>
    2 diputados/as nacionales
    1 parlamentario/a del Mercosur

    <h5>La Rioja</h5>
    3 senadores/as nacionales
    3 diputados/as nacionales
    1 parlamentario/a del Mercosur

    <h5>Mendoza</h5>
    5 diputados/as nacionales
    1 parlamentario/a del Mercosur

    <h5>Misiones</h5>
    3 senadores/as nacionales
    4 diputados/as nacionales
    1 parlamentario/a del Mercosur

    <h5>Neuquén</h5>
    2 diputados/as nacionales
    1 parlamentario/a del Mercosur

    <h5>Río Negro</h5>
    3 diputados/as nacionales
    1 parlamentario/a del Mercosur

    <h5>Salta</h5>
    4 diputados/as nacionales
    1 parlamentario/a del Mercosur

    <h5>San Juan</h5>
    3 senadores/as nacionales
    3 diputados/as nacionales
    1 parlamentario/a del Mercosur

    <h5>San Luis</h5>
    3 senadores/as nacionales
    2 diputados/as nacionales
    1 parlamentario/a del Mercosur

    <h5>Santa Cruz</h5>
    3 senadores/as nacionales
    2 diputados/as nacionales
    1 parlamentario/a del Mercosur

    <h5>Santa Fe</h5>
    10 diputados/as nacionales
    1 parlamentario/a del Mercosur

    <h5>Santiago del Estero</h5>
    4 diputados/as nacionales
    1 parlamentario/a del Mercosur

    <h5>Tierra del Fuego AeIAS</h5>
    3 diputados/as nacionales
    1 parlamentario/a del Mercosur

    <h5>Tucumán</h5>
    5 diputados/as nacionales
    1 parlamentario/a del Mercosur

    <h3>¿Cuando y dónde voto en las elecciones generales 2023?</h3>
    <p>Las elecciones generales se llevarán a cabo el 22 de octubre entre las 8:00 y las 18:00 horas. Si es necesaria una
    segunda vuelta para la elección del cargo presidencial y vicepresidencial esta será el 19 de noviembre.
    A partir del 14 de julio, podés verificar el establecimiento de votación, el N° de mesa donde votás, el N° de orden
    y el ejemplar del documento ingresando a www.padron.gob.ar
    El lugar de votación de las elecciones generales suele ser el mismo del de las P.A.S.O. pero puede ocurrir que haya
    cambios, por lo que es conveniente que antes del día de la elección hagas una nueva consulta.
    Se recomienda que esa información la conserves hasta el día de la elección.
    Sólo podés votar en el establecimiento y la mesa que te corresponden de acuerdo con el domicilio que tenés
    registrado en tu documento.
    </p>

    <h3>¿Cómo se elige al/ a la presidente/a y vicepresidente/a?</h3>
    <p>La elección presidencial es efectuada considerando a todo el territorio nacional como un distrito único.
    Si la fórmula más votada obtiene más del 45% del voto válidamente emitido o más del 40% con una diferencia mayor al
    10% con la fórmula que le sigue en votos, queda consagrada como presidente/a y vicepresidente/a de la República.
    Si eso no ocurre, es necesario realizar una segunda vuelta electoral.
    De ser necesario, el próximo 19 de noviembre se hará el ballotage entre las dos fórmulas más votadas de la primera
    elección. El binomio ganador de esa elección será elegido/a como presidente/a y vicepresidenta/a.
    </p>
</div>