@{
    ViewData["Title"] = "Index";
}

<div class="partidos">
    @foreach (Partido item in ViewBag.ListaPartidos)
    {
        <div>
            <h2>@item.Nombre</h2>
            <a href='@Url.Action("DetallePartido", new{IdPartido=item.IdPartido})'><img src="@item.Logo"></a>
        </div>
    }
</div>

