@{
    ViewData["Title"] = "Index";
}

@foreach(Partido item in ViewBag.ListaPartidos){
<h2>@item.Nombre</h2>
<a href='@Url.Action("DetallePartido", new{IdPartido=item.IdPartido})'><img src="@item.Logo" height="200px"></a>
}
