@{
    ViewData["Title"] = "Index";
}

<div class="partidos">
    @foreach (Partido item in ViewBag.ListaPartidos)
    {
        <div>
            <h2>@item.Nombre</h2>
            <div class="img">
                <a href='@Url.Action("DetallePartido", new{IdPartido=item.IdPartido})'><img src="@item.Logo" height="150px"></a>
            </div>
        </div>
    }
</div>

